{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "process": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/recommended"
  ],
  "plugins": ["prettier", "import"],
  "rules": {
    "import/order": ["error", { "newlines-between": "never" }],
    "no-await-in-loop": "error",
    "no-duplicate-imports": "error",
    "no-return-await": "error",
    "no-sequences": "error",
    "no-useless-return": "error",
    "prettier/prettier": "error",
    "sort-keys": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}
